<form action="/phone/add" method="POST">
  Model
  <input type="text" name="model" value="{{model}}" />
  <br />
  Year
  <input type="text" name="year" value="{{year}}" />
  <br />
  Price
  <input type="text" name="price" value="{{price}}" />
  <br />
  Image
  <input type="text" name="image" value="{{image}}" />
  <br />
  Description
  <br>
  <hr>
  <textarea name="description" id="" cols="30" rows="10"></textarea>
  <br>
  <hr>
  Performance
  <br>
  <hr>
  
  <textarea name="performance" id="" cols="30" rows="10"></textarea>
  <br>
  <hr>
  Battery
  <br>
  <hr>
  <textarea name="battery" id="" cols="30" rows="10"></textarea>
  <br>
  <hr>
  Display
  <br>
  <hr>
  <textarea name="display" id="" cols="30" rows="10"></textarea>
  <br>
  <hr>
  Camera
  <br>
  <hr>
  <textarea name="camera" id="" cols="30" rows="10"></textarea>

  <input type="submit" value="Save" />
</form>